# API Gateway URL
VITE_API_URL=https://api.getexpert.pro/api/v1

# Real-time WebSocket Gateway URL
VITE_SOCKET_URL=https://api.getexpert.pro

# Global Application Settings
VITE_APP_NAME="GetExpert Pro"
VITE_APP_ENV=production
